/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Heebo', sans-serif;
}

/* Utility */

.clearfix::after{
    clear: both;
    content: '';
    display: table;
}
.debug{
    border: 3px solid black;
}
header, main, footer{
    width: 80%;
    margin: 20px auto;
}

/* Header */

.logo{
    margin-bottom: 30px;   
}
.logo img{
    width: 200px;
    border-right: 1px solid #d3c9c9;
    padding-right: 10px;
}
ul li{
    display: inline;
    color: #C1C1C1;
    padding-right: 10px;
    font-size: 20px;
    text-transform: uppercase;
    background: #7ECF8E;
    background: -webkit-radial-gradient(circle farthest-corner at center center, #7ECF8E 0%, #190302 100%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #7ECF8E 0%, #190302 100%);
    background: radial-gradient(circle farthest-corner at center center, #7ECF8E 0%, #190302 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a{
    text-decoration: none;
}
